<section class="container-fluid d-flex align-items-center" id="about-section">
    <div class="row h-100 d-flex align-items-center">
        <div class="col-12 col-md-8 offset-md-2 text-center d-flex align-items-center">
            <div>
                <h2 class="my-5" id="about">{{ page.about.title }}</h2>
                <div>{{ page.about.text | markdownify }}</div>
                <div class="mt-5">
                    <a href="#" class="button-clear">Contact Sarah</a>
                </div>
            </div>
        </div>
    </div>
</section>