<section class="container-fluid vh-100 ps-0" id="contact-section">
    <div class="row vh-50">
        <div class="col-sm-12 col-md-6 vh-100 ps-3 d-flex align-items-center">

                <div class="row">
                    <div class="col-12 block-1 vh-50 d-flex align-items-center">
                        <div class="m-5">
                            <h2>{{ page.contact.title }}</h2>
                            <p>{{ page.contact.intro | markdownify }}</p>
                        </div>
                    </div>
                    <div class="col-12 block-2 vh-50 d-flex align-items-center">
                        <div class="m-5">
                            {% for contact in page.contact.contact %}
                                {% case contact.type %}
                                    {% when "Email" %}<a class="d-flex align-items-center text-break contact-link" href="mailto:{{ contact.value }}"><span class="material-symbols-outlined me-2">mail</span> <span class="contact-link-text">{{ contact.value }}</span></a>
                                    {% when "BACP" %}<a class="d-flex align-items-center text-break contact-link" href="{{ contact.value }}" target="_blank"><span class="material-symbols-outlined me-2">language</span> <span class="contact-link-text">BACP Register</span></a>
                                    {% when "LinkedIn" %}<a class="d-flex align-items-center text-break contact-link" href="{{ contact.value }}" target="_blank"><span class="material-symbols-outlined me-2">language</span> <span class="contact-link-text">Find me on LinkedIn</span></a>
                                    {% when "Instagram" %}<a class="d-flex align-items-center text-break contact-link" href="{{ contact.value }}" target="_blank"><span class="material-symbols-outlined me-2">language</span> <span class="contact-link-text">Instagram</span></a>
                                    {% when "Telepone" %}<a class="d-flex align-items-center text-break contact-link" href="tel:{{ contact.value }}"><span class="material-symbols-outlined me-2">language</span> <span class="contact-link-text">{{ contact.value }}</span></a>
                                {% endcase %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-12 col-md-6 vh-100 d-flex align-items-center block-3">
            <div class="m-5">
                <h3>{{ page.contact.form-title }}</h3>
                {{ page.contact.form-text | markdownify }}
                <form name="contact" action="/thank-you" netlify>
                    <div class="mb-3">
                        <label for="contactEmail" class="form-label">{{ site.data.sitedata.contact-form.email-field }}</label>
                        <input type="email" class="form-control" id="contactEmail" name="Email">
                    </div>
                    <div class="mb-3">
                        <label for="contactName" class="form-label">{{ site.data.sitedata.contact-form.name-field }}</label>
                        <input class="form-control" id="contactName" name="Name">
                    </div>
                    <div class="mb-3">
                        <label for="contactMessage" class="form-label">{{ site.data.sitedata.contact-form.message-field }}</label>
                        <textarea class="form-control" id="contactMessage" rows="3" name="Message"></textarea>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="contactConsent" name="consent">
                        <label class="form-check-label" for="contactConsent">
                          {{ site.data.sitedata.contact-form.consent-message }}
                        </label>
                    </div>
                    <button class="btn btn-primary mt-1" type="submit">{{ site.data.sitedata.contact-form.submit-button }}</button>
                </form>
            </div>
        </div>
    </div>
</section>