<section class="container-fluid vh-100 banner-image">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
            <img src="{{ site.cloudinary_url }}{{ page.hero_banner[0].image }}" class="img-fluid w-50 mt-5" {% if page.hero_banner[0].alt %}alt="{{ page.hero_banner[0].alt }}"{% endif %} />
        </div>
        <div class="col-sm-12 col-md-6 text-center">
            <h1 class="mt-5">{{ page.hero_banner[0].title }}</h1>
            <h2>{{ page.hero_banner[0].position }}</h2>
            <h3>{{ page.hero_banner[0].location }}</h3>
        </div>
    </div>
</section>