<section class="container-fluid vh-100 banner-image" id="hero-banner">
    <div class="row vh-50">
        <div class="col-sm-12 col-md-6 vh-50 ps-3 block-1 d-flex align-items-center">
            <div>
                <h1>{{ page.hero_banner.title }}</h1>
                <h4><span>{{ page.hero_banner.position }}</span> | <span>{{ page.hero_banner.location }}</span></h4>
            </div>
        </div>
        <div class="col-6 col-md-6 text-center vh-100 d-none d-sm-none d-md-block" title="{{ page.hero_banner.alt }}" style="background-image: url({{ site.cloudinary_url }}/t_square{{ page.hero_banner.image }}); background-repeat: no-repeat; background-size: cover;"></div>
    </div>
    <div class="row vh-50">
        <div class="col-6 col-md-6 vh-50">
            <a href="{{ page.hero_banner.button-link }}" class="d-flex align-items-center h-100 w-100 text-center">
                <p class="mx-auto">{{ page.hero_banner.button-text }}</p>
            </a>
        </div>
        <div class="col-6 col-md-6 text-center vh-50 d-sm-block d-md-none" style="background-image: url({{ site.cloudinary_url }}/t_sarah{{ page.hero_banner.image }}); background-repeat: no-repeat; background-size: cover; background-position: center center;"></div>
    </div>
</section>
