<section class="container-fluid" id="services-section">
    <div class="row text-center">
        <div class="col vh-33 d-flex align-items-center justify-content-center">
            <div>
                <h2 class="">Services</h2>
                <p>Some text about the services I offer</p>
            </div>
        </div>
    </div>
    <div class="row service-row">
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 1</h3>
        </div>
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 2</h3>
        </div>
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 3</h3>
        </div>
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 4</h3>
        </div>
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 5</h3>
        </div>
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 6</h3>
        </div>
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 7</h3>
        </div>
        <div class="col-sm-6 col-md-3 vh-33 d-flex align-items-center justify-content-center">
            <h3>Service 8</h3>
        </div>
    </div>
</section>